<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test Li</title>
<style type="text/css">
ul li {
	list-style: none;
	display: block;
	float: left;
	padding-top: 3px;
}
ul li.active {
	border-top: 3px solid #f3565d;
}
ul li a{
	padding: 0 15px;
	border-bottom: 1px solid #ddd;
}
ul li.active a{
	border-color: #ddd #ddd transparent;
	border-style: solid;
	border-width: 1px;
}
</style>
</head>
<body>
	<ul>
		<li class="active">
			<a>li->a0</a>
		</li>
		<li>
			<a>li->a1</a>
		</li>
		<li>
			<a>li->a2</a>
		</li>
		<li>
			<a>li->a3</a>
		</li>
	</ul>
</body>
</html>