<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#div0 {
	width: 400px;
	height: 100px;
	border: 3px dashed silver;
    color: #d3d3d3;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
}
</style>
</head>
<body>
<div id="div0" ondragover="allowDrop(event)" ondrop="drop(event)">
	
</div>
<img id="img0" alt="" src="../php/pics/commons-logo.jpg" draggable="true" ondragstart="drag(event);">
<script type="text/javascript" src="jquery-1.11.2.js"></script>
<script type="text/javascript" src="dragdrop.js"></script>
</body>
</html>