<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		var str = "{0}-{1}条, 当前第{2}页, 共{3}页";
	</div>
	<div id="result">
	</div>
	<input type="button" value="test" id="testButton">
	<br>
	var reg = /^(?=.*?a).*$/i;
	<br>
	<input type="text" id="tempValue">
	<br>
	<input type="text" id="regValue"> <input type="text" id="regValueP">
	<input type="button" id="btn-tempValue" value="btn-tempValue">
</body>
<script type="text/javascript" src="../js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="../js/testReg.js"></script>
</html>