<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table id="table_id" class="display">
        <thead>
            <tr>
                <th>USERID</th>
                <th>LOGINNAME</th>
                <th>LOGINPWD</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>USERDESC</th>
            </tr>
        </thead>
    </table>
	<input type="button" value="renho" id="renho">
	<table id="table_id_renho" class="display">
        <thead>
            <tr>
            	<th></th>
                <th>USERID</th>
                <th>LOGINNAME</th>
                <th>LOGINPWD</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>USERDESC</th>
                <th>USERID</th>
                <th>LOGINNAME</th>
                <th>LOGINPWD</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>USERDESC</th>
            </tr>
        </thead>
    </table>
</body>
<link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.css">
<script type="text/javascript" src="../js/jquery-1.11.2.js"></script>
<script type="text/javascript" charset="utf8" src="../js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="../js/jquery.dataTables.my.js"></script>
<script type="text/javascript" charset="utf8" src="../js/dataTables.fixedColumns.js"></script>
<script type="text/javascript" src="../js/renho.js"></script>
</html>