<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
<link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.css">
<script type="text/javascript" src="../js/jquery-1.11.2.js"></script>
<script type="text/javascript" charset="utf8" src="../js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="../js/dataTables.fixedColumns.js"></script>
<script type="text/javascript" charset="utf8" src="../js/jquery.dataTables.testPlugin.js"></script>
<script type="text/javascript" src="../js/testPlugin.js"></script>
</html>