<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test Table</title>
<style>
.table-c table {
	border-right: 1px solid black;
	border-bottom: 1px solid black
}

.table-c table td {
	border-left: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
}
</style>
</head>
<body>
	<form action="">
		<div>
			<div class="table-c" style="width: 500px; float: left;">
				<table width="400" border="0" cellspacing="0" cellpadding="0" id="myTable">
					<thead>
						<tr>
							<td>Id</td>
							<td>UserName</td>
							<td>PassWord</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>renho0</td>
							<td>password0</td>
						</tr>
						<tr>
							<td>2</td>
							<td>renho1</td>
							<td>password1</td>
						</tr>
					</tbody>
					<tfoot></tfoot>
				</table>
			</div>
			<div style="padding: 10px 10px; width: 500px; float: left;">
				<input type="button" id="createCaption" value="createCaption">
				<input type="button" id="insertRow" value="insertRow">
				<input type="button" id="deleteRow" value="deleteRow">
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" src="../../js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="../../js/dom/testTable.js"></script>
</html>